.wrapper {
    width: 600px;
    height: 500px;
    border: 1px solid #000;
    margin: 100px auto;
}
#turn-page li {
    padding: 5px 10px;
    border: 1px solid #ddd;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}
#turn-page li.cur-page {
    background-color: #428bca;
    color: aliceblue;
}