* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.tpl {
    display: none;
}

.clearF::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

.wrapper {
    border: 1px solid #ccc;
    padding: 10px 5px;
    width: 350px;
    margin: 100px auto 0px;
}

.wrapper .headSection {
    margin-bottom: 10px;
}

.wrapper .headSection .hot {
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.wrapper .headSection .change {
    float: right;
    color: #08f;
    cursor: pointer;
}

.wrapper .showSection .number {
    color: #fff;
    background-color: #0bf;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
}

.wrapper .showSection li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.wrapper .showSection .mes {
    float: right;
}

.wrapper .showSection .mes::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
}

.wrapper .showSection .mes.up::after {
    background-image: url('./img/up.png'); 
    background-position-y: 3px;
}

.wrapper .showSection .mes.down::after {
    background-image: url('./img/down.png');
    background-position-y: 1px;
}